{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin: 10%; width: 42%" >
        <h1 style="color: white;font-family: 'Comic Sans MS' ">Hi, I'm Xixi.</h1>
        <h5 style="color: white;font-family: 'Comic Sans MS'" >I am a computer science student in York University.</h5>
        <h5 style="color: white;font-family: 'Comic Sans MS'">I like working on the both front-end and backend of the web.</h5>
        <h5 style="color: white;font-family: 'Comic Sans MS'"> I am enthusiast about learning new things and solving daily problems by programming!
        </h5>
        <br>
        <a class="btn btn-warning" href="{% url 'projects' %}">Go To Projects</a>


    </div>
{% endblock %}